<tr>
    <th value="number">No.</th>
    <th value="string">Name</th>
    <th value="string">Artists</th>
    <th value="number">No. Tracks</th>
    <th value="string">Release Date</th>
    <th value="string">Id</th>
    <th value="string">Image</th>
    <th value="string"></th>
</tr>
{% for res in data.albums %}
<tr>
    <td>{{ loop.index }}</td>
    <td>{{ res["name"] }}</td>
    <td>{{ res["artists"]|map(attribute="name")|join(", ") }}</td>
    <td>{{ res["total_tracks"] }}</td>
    <td>{{ res["release_date"] }}</td>
    <td>{{ res["id"] }}</td>
    {% if res["images"][0] %}
        <td value='{{ res["images"][0]["url"] }}'><a href='{{ res["images"][0]["url"] }}' target="_blank" rel="noopener noreferrer">Image link</a></td>
    {% else %}
        <td>no image found</td>
    {% endif %}
    <td><a href="/album/{{ res['id'] }}"><button type="button">Analyze Album</button></a></td>
</tr>
{% endfor %}