<thead>
    <tr>
        <th data-type="number">No.</th>
        <th data-type="string">Name</th>
        <th data-type="number">Popularity</th>
        <th data-type="number">Followers</th>
        <th data-type="string">Genres</th>
        <th data-type="string">Id</th>
        <th data-type="string">Image</th>
        <th data-type="string"></th>
    </tr>
</thead>
<tbody>
    {% for res in results %}
    <tr>
        <td class="data-row-index">{{ loop.index }}</td>
        <td>{{ res["name"] }}</td>
        <td>{{ res["popularity"] }}</td>
        <td>{{ res["followers"]["total"] }}</td>
        <td>{{ res["genres"]|join(", ") }}</td>
        <td>{{ res["id"] }}</td>
        {% if res["images"][0] %}
            <td data-value='{{ res["images"][0]["url"] }}'><a href='{{ res["images"][0]["url"] }}' target="_blank" rel="noopener noreferrer">Image link</a></td>
        {% else %}
            <td>no image found</td>
        {% endif %}
        <td><a class="table-button" href="/artist/{{ res['id'] }}">Artist Content</a></td>
    </tr>
    {% endfor %}
</tbody>
