<thead>
    <tr>
        <th value="check">Select</th>
        <th value="number">No.</th>
        <th value="string">Name</th>
        <th value="string">Owner</th>
        <th value="string">User Id</th>
        <th value="number">No. Songs</th>
        <th value="string">Collaborative</th>
        <th value="string">Id</th>
        <th value=""><a href="/playlist/"><button id="compare-btn" class="hide" type="button">Compare Playlists</button></a></th>
    </tr>
</thead>
<tbody>
    {% for res in results %}
    <tr>
        <td><input type="checkbox" class="compare-check" value="{{ res['id'] }}"></td>
        <td>{{ loop.index }}</td>
        <td>{{ res["name"] }}</td>
        <td>{{ res["owner"]["display_name"] }}</td>
        <td>{{ res["owner"]["id"] }}</td>
        <td>{{ res["tracks"]["total"] }}</td>
        <td>{{ res["collaborative"] }}</td>
        <td>{{ res["id"] }}</td>
        <td><a href="/playlist/{{ res['id'] }}"><button type="button">Analyze</button></a></td>
    </tr>
    {% endfor %}
</tbody>
