<thead>
    <tr>
        <th data-type="check">Select</th>
        <th data-type="number">No.</th>
        <th data-type="string">Name</th>
        <th data-type="string">Owner</th>
        <th data-type="string">User Id</th>
        <th data-type="number">No. Songs</th>
        <th data-type="string">Collaborative</th>
        <th data-type="string">Id</th>
        <th data-type=""><a class="table-button compare-button hide" href="/playlist/" data-limit="{{ base.limits.playlist }}">Compare Playlists</a></th>
    </tr>
</thead>
<tbody>
    {% for res in results %}
    <tr>
        <td><form autocomplete="off"><input type="checkbox" class="compare-check" data-value="{{ res['id'] }}"></form></td>
        <td class="data-row-index">{{ loop.index }}</td>
        <td>{{ res["name"] }}</td>
        <td>{{ res["owner"]["display_name"] }}</td>
        <td>{{ res["owner"]["id"] }}</td>
        <td>{{ res["tracks"]["total"] }}</td>
        <td>{{ res["collaborative"] }}</td>
        <td>{{ res["id"] }}</td>
        <td><a class="table-button" href="/playlist/{{ res['id'] }}">Analyze playlist</a></td>
    </tr>
    {% endfor %}
</tbody>
