/* Style the document */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: limegreen;
}

.hide {
    display: none;
}

.center {
    text-align: center;
}


/* Style the tables  */
table, th, td {
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 0;
}

table {
    table-layout: auto;
    width: 100%;
    background-color: white;
    /* word-break: break-word; */
    word-break: normal;
}

th {
    background-color: white;
    height: 3em;
    font-size: 1.2em;
    width: auto;
}

th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
    /*! background-color: #000; */
    /*! color: #fff; */
}

tbody tr:nth-of-type(odd) {
    background-color: lightsalmon;
}

tbody tr:nth-of-type(even) {
    background-color: lightcyan;
}

/* tbody td:last-child {
    background-color: white;
} */

th, td {
    padding: 0.4em;
}

table button {
    background-color: black;
    color: white;
    border-radius: 6px;
    border: 1px solid black;
}

#compare-btn {
    background-color: limegreen;
}


/* Style the navbar */
.navbar {
    background-clip: content-box;
    background-color: lightblue;
    padding: 0 1%;
}

.navbar > ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.navbar li {
    padding: 1em;
    margin: 0 0 0 -2px;
    float: left;
    border: 2px dotted lightblue;
}

.navbar a, .navbar span {
    text-decoration: none;
    color: red;
}

.menu-item {
    background-color: black;
    cursor: pointer;
}

.menu-expand {
    width: 30%;
}

.menu-expand * {
    border: 0;
    padding: 0;
    margin: 0;
}

.menu-expand input {
    background-color: none;
    width: 65%;
}

.menu-expand button {
    margin-left: 0.5em;
    width: 30%;
    border-radius: 6px;
    background-color: orange;
}


/* Style the main body content */
.content {
    /* margin: auto; */
    padding: 0 1% 1% 1%;
}

.content > header {
    padding: 0.5em;
    margin: 0;
    background-color: purple;
    color: navajowhite;
}

.content > header * {
    margin: 0.5em;
}

.playlist-input {
    background-color: lightblue;
    padding-bottom: 2%;
}

.playlist-input > form > label {
    font-weight: bolder;
    font-size: 1.3em;
}

.playlist-input > form * {
    padding: 0.5em 0;
    display: block;
    width: 50%;
    margin: auto;
}

.playlist-input > form > button {
    background-color: orange;
    border-radius: 12px;
    width: 40%;
    margin-top: 0.5em;
}

.playlist-input > form > textarea {
    resize: None;
}

.artist-info > a {
    color: yellow;
}

.artist-info > span {
    color: chartreuse;
}


/* Style the error messages */
.flashes * {
    color: white;
    font-weight: bolder;
}

.flashes ul, .flashes li {
    padding: 0;
    margin: 0;
    font-size: larger;
    list-style-position: inside;
}

#search-query {
    color: orange;
}


#current-country {
    color: yellow;
}


/* Style the analysis charts */
.data-chart {
    width: 60%;
    margin: auto;
}

.chart-button {
    background-color: black;
    color: white;
    border-radius: 6px;
    border: 1px solid black;
    padding: 1em 2em;
    margin: 0.2em 0 1em 0;
}


/* Style the tab button row and the tab buttons  */
.tab-buttons {
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab-button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab-button:hover {
    background-color: #ddd;
}

.tab-button.active {
    background-color: blue;
    color: white;
}


/* Style the tab content */
.tab-content {
    padding: 0;
}

.tab-page {
    /* background-color: steelblue; */
    background-color: lightblue;
    padding: 0;
    border: 1px solid #ccc;
    border-top: none;
}

/* Fixes horizontal overflow but removes sticky table header (if not set to specific height) */
.tab-page, .table-container {
    overflow-x: auto;
    height: 93vh;
}

/* Style the analysis descriptions */
.analysis-description {
    text-align: left;
    padding: 0.5em 1em;
}

.analysis-description * {
    margin: 0;
}


/* Style responsive elements based on screen width */
@media screen and (max-width:1050px){
    .menu-expand, .data-chart {
        width: 100%;
    }
}
