{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Analysis{% endblock %} for {{ data.type }}: <span id="search-query">{{ data.name }}</span></h1>
{% endblock %}

{% block content %}
<table id="analysis-result-table">
    <thead>
        <tr>
            <th value="number">No.</th>
            <th value="string">Title</th>
            <th value="string">Artist</th>
            <th value="string">Album</th>
            <!-- <th value="string">Genre</th> -->
            <th value="string">Duration</th>
            <th value="number">Popularity</th>
            <th value="number">BPM</th>
            <th value="number">Danceability</th>
            <th value="number">Energy</th>
            <th value="number">Valence</th>
            <th value="number">Key</th>
            <th value="string">Id</th>
        </tr>
    </thead>
    <tbody>
        {% for tr in data.tracks %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ tr["track"]["name"] }}</td>
            <td>{{ tr["track"]["artists"]|map(attribute="name")|join(", ") }}</td>
            <td>{{ tr["track"]["album"]["name"] }}</td>
            <!-- <td>{{ tr["track"]["is_local"] }}</td> -->
            <td>{{ tr["track"]["duration_ms"] | format_time }}</td>
            <td>{{ tr["track"]["popularity"] }}</td>
            <td>{{ tr["audio_feature"]["tempo"]|round|int }}</td>
            <td>{{ tr["audio_feature"]["danceability"] }}</td>
            <td>{{ tr["audio_feature"]["energy"] }}</td>
            <td>{{ tr["audio_feature"]["valence"] }}</td>
            <td>{{ tr["audio_feature"]["key"] }}</td>
            <td>{{ tr["audio_feature"]["id"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}