{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Artist{% endblock %} results for: <span class="search-query">{{ data.artist.name }}</span></h1>
<h2 class="artist-info">Visit them on spotify: 
    <a href="{{ data.artist.external_urls.spotify }}" rel="noreferrer" target="_blank">FOLLOW THEM</a>
     and join the other <span>{{ data.artist.followers.total }}</span> artist followers.
</h2>
{% endblock %}

{% block content %}
<div class="tab-area">
    <div class="tab-buttons">
        <button class="tab-button active">Top tracks ({{ data.top_tracks|length }})</button>
        <button class="tab-button">Albums ({{ data.albums|length }})</button>
        <button class="tab-button">Singles ({{ data.singles|length }})</button>
        <button class="tab-button">Compilations ({{ data.compilations|length }})</button>
        {% set app_count = data.appears_on|length %}
        <button class="tab-button">Appears on (<span id="load-count">{{ app_count }}</span>{% if app_count != data.appears_on_total %} of {{ data.appears_on_total }}{% endif %})</button>
        <button class="tab-button">Related artists ({{ data.related_artists|length }})</button>
    </div>
    
    <div class="tab-content">
        <div class="tab-page">
            <table>
                {% with results = data["top_tracks"] %}
                    {% include "data_tables/track.html" %}
                {% endwith %}
            </table>
        </div>
        
        <div class="tab-page hide">
            <table>
                {% with results = data["albums"] %}
                    {% include "data_tables/album.html" %}
                {% endwith %}
            </table>
        </div>
        
        <div class="tab-page hide">
            <table>
                {% with results = data["singles"] %}
                    {% include "data_tables/album.html" %}
                {% endwith %}
            </table>
        </div>
        
        <div class="tab-page hide">
            <table>
                {% with results = data["compilations"] %}
                    {% include "data_tables/album.html" %}
                {% endwith %}
            </table>
        </div>
        
        <div class="tab-page hide">
            <table>
                {% with results = data["appears_on"] %}
                    {% include "data_tables/album.html" %}
                {% endwith %}
            </table>
            <form action="/load-more" class="load-more-form">
                <input type="text" name="next-page" class="hide" value="{{ data.next }}">
                <input type="text" name="next-type" class="hide" value="album">
                <button>Load More</button>
            </form>
        </div>

        <div class="tab-page hide">
            <table>
                {% with results = data["related_artists"] %}
                    {% include "data_tables/artist.html" %}
                {% endwith %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
