{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Artist{% endblock %} results for: <span id="search-query">{{ data.artist }}</span></h1>
{% endblock %}

{% block content %}
<div class="tab-area center">
    <div class="tab-buttons">
        <button class="tab-button">Top tracks</button>
        <button class="tab-button">Albums</button>
        <button class="tab-button">Singles</button>
        <button class="tab-button">Compilations</button>
        <button class="tab-button">Appears on</button>
    </div>
    
    <div class="tab-content">
        <div class="tab-page">
            <table id="top-tracks">
                {% with results = data["top_tracks"] %}
                    {% include "data_tables/track.html" %}
                {% endwith %}
            </table>
        </div>
        
        <div class="tab-page hide" id="arist-albums">
            <table id="artist-albums-table">
                {% with results = data["albums"] %}
                    {% include "data_tables/album.html" %}
                {% endwith %}
            </table>
        </div>
        
        <div class="tab-page hide" id="artist-singles">
            <table id="artist-singles-table">
                {% with results = data["singles"] %}
                    {% include "data_tables/album.html" %}
                {% endwith %}
            </table>
        </div>
        
        <div class="tab-page hide" id="artist-compilations">
            <table id="artist-compilations-table">
                {% with results = data["compilations"] %}
                    {% include "data_tables/album.html" %}
                {% endwith %}
            </table>
        </div>
        
        <div class="tab-page hide" id="artist_appears_on">
            <table id="artist-appears-on-table">
                {% with results = data["appears_on"] %}
                    {% include "data_tables/album.html" %}
                {% endwith %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
