{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Analyze{% endblock %} public spotify playlists, albums or tracks</h1>
<h3>Enter the spotify links down below. Remember to only analyze links of one type at a time!</h3>
{% endblock %}

{% block content %}
<div id="spotify-url-input" class="playlist-input">
    <form action="playlist-urls" method="post">
        <label for="spotify-urls"></label>
        <textarea name="spotify-urls" id="spotify-urls" cols="100" rows="20" required placeholder="{% include 'usage_info.nfo' %}"></textarea>
        <button id="url-btn">Analyze</button>
    </form>
    <h3>Or you can upload a file with the links instead if you have that stored.</h3>
    <h3>You can manually select a file or drag and drop it down below.</h3>
    <form method="post" action="playlist-file" enctype="multipart/form-data">
        <label for="tracks_file">File upload (spotify song urls)</label>
        <input type="file" name="tracks_file" id="tracks_file" required>
        <button id="file-btn">Analyze</button>
    </form>
</div>
{% endblock %}