{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Search{% endblock %} results for {{ data.search_type }}: <span class="search-query">{{ data.search_query }}</span></h1>
<h2>Showing {{ data.results|count }} of {{ data.total }} {{ data.search_type }}s</h2>
{% endblock %}

{% block content %}
<div class="table-container">
    <table id="search-result-table">
    {% with results = data.results %}
        {% include "data_tables/" + data.search_type + ".html" %}
    {% endwith %}
    </table>
    {% if data.next %}
    <form action="/load-more" class="load-more-form">
        <input type="text" name="next-page" class="hide" value="{{ data.next }}">
        <input type="text" name="next-type" class="hide" value="{{ data.search_type }}">
        <button>Load More</button>
    </form>
    {% endif %}
</div>
{% endblock %}
