{% extends 'base.html' %}


{% block header %}
<h1>{% block title %}User{% endblock %} playlists for: <span id="search-query">{{ data.username }}</span></h1>
{% if data.user_found %}
    <h4>Showing {{ data.playlists|count }} of {{ data.total }} playlists.</h4>
{% else %}
    <h2>The user your looking for doesn't exists on spotify...</h2>
{% endif %}
{% endblock %}

{% if data.user_found%}
{% block content %}
<table id="user-contant-table">
{% include "data_tables/playlist.html" %}
</table>
{% endblock %}
{% endif %}

